<nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <i class="fa-solid fa-cloud-sun fa-beat-fade" style="color: #666666;"></i>
          <a style="color: rgb(0, 0, 0);" class="navbar-brand" href="#">Really Sunny</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mr-auto "> <!-- Added the "mr-auto" class here -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AboutUs">About-Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/WeatherInfo">Weather-Info</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
